<div class="wrapper navigation-wrapper">
    <div class="navigation grid">
      <div class="main-nav full" id="main-nav">
        <ul class="nav">
          <li><a href="https://uncrate.com/gear/">Gear</a></li>
          <li><a href="https://uncrate.com/style/">Style</a></li>
          <li><a href="https://uncrate.com/cars/">Cars</a></li>
          <li><a href="https://uncrate.com/tech/">Tech</a></li>
          <li><a href="https://uncrate.com/shelter/">Shelter</a></li>
          <li><a href="https://uncrate.com/vices/">Vices</a></li>
          <li><a href="https://uncrate.com/body/">Body</a></li>
          <li><a href="https://uncrate.com/etc/">Etc</a></li>
          <li><a href="https://uncrate.com/tv/">Videos</a></li>
        </ul>
      </div>
      <div class="sub-nav full" id="sub-nav">
        <ul class="nav stuff-nav">
        <li><a href="https://uncrate.com/magazine/">Magazine</a></li>
        <li><a href="https://uncrate.com/enlist/">Enlist</a></li>
        <li><a href="https://instagram.com/uncrate" target="_blank">Instacrate</a></li>
        <li><a href="https://uncrate.com/about/stash/" id="stash-nav">Members</a></li>
        </ul>
      </div>
    </div>
  </div>